<tbody class='table table-hover'>
	<tr>
		<td><a href="{% url 'projects:single' pk=project.pk %}">{{project.id}}</a></td>
		<td>{{project.project_name}}</td>
		<td>{{project.worker}}</td>
	  <td>{{project.description}}</td>
	  <td>{{project.created_at| date:"m-d-Y"}}</td>
		<td>{{project.due_date| date:"m-d-Y"}}</td>
		<td>{{project.status}}</td>
		<td>{{project.completed_on| date:"m-d-Y"}}</td>
		<td>
			{% if project.team == Null %}
				{{project.team}}
			{% else %}
				<a href="{% url 'teams:single' slug=project.team|slugify %}">{{project.team}}</a></td>
			{% endif %}
	</tr>
</tbody>
