<div style="padding:40px;margin:40px;border:1px solid #ccc">
    <h1>Django File Upload</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form><hr>
    <ul>
    {# {% for document in documents %}
        <li>
            <a href="{{ document.file.url }}">{{ document.file.name }}</a>
            <small>{{ document.file.size|filesizeformat }}</small>
        </li>
    {% endfor %} #}
    </ul>
</div>
