{% extends "projects/project_base.html" %}
{% load bootstrap4 %}
{% block proj_content %}
{{ form.media }}
<br>

<div class="d-flex justify-content-between align-items-center row">
  <div class="col-sm-5"><h1>All Projects</h1></div>
  <div class="col-sm-2">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#searchModal">Search</button>
      <a href="{% url 'projects:all' %}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Reset</a>
    </div>
  </div>
</div>
<br>

<div class="d-flex justify-content-center">
  <div class="container list-group">
    <div class="d-flex justify-content-between align-items-center row">
      <div class="col-sm-1 text-muted">ID</div>
      <div class="col-sm-5 text-muted">Project</div>
      <div class="col-sm-2 text-muted">Status</div>
      <div class="col-sm-1 text-muted">Worker</div>
      <div class="col-sm-2 text-muted">Team</div>
    {% for project in projects %}
      <a href="{% url 'projects:single' pk=project.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between align-items-center row">
          <div class="col-sm-1"><strong>{{project.pk}}</strong></div>
          <div class="col-sm-5"><strong>{{project.project_name}}</strong></div>

          {% if project.status == 'Active' %}
            <div class="col-sm-2"><span class="badge badge-primary">{{project.status}}</span></div>
          {% elif project.status == 'Hold' %}
            <div class="col-sm-2"><span class="badge badge-warning">{{project.status}}</span></div>
          {% elif project.status == 'Past Due' %}
            <div class="col-sm-2"><span class="badge badge-danger">{{project.status}}</span></div>
          {% else %}
            <div class="col-sm-2"><span class="badge badge-success">{{project.status}}</span></div>
          {% endif %}

          <div class="col-sm-1">{{project.worker}}</div>
          <div class="col-sm-2">{{project.team}}</div>
        </div>
      </a>
    {% endfor %}

  </div>
</div>



<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form method="GET">
              {% comment %} {% bootstrap_form myFilter.form %} {% endcomment %}
              {{myFilter.form.as_p}}
              <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
