{% extends "projects/project_base.html" %}

{% block proj_content %}
<div class="container">
  <h1>All Projects</h1>
</div>

<table class="table table-hover'">
	<thead id='headers'>
		<tr>
			<th style="width:10%">Project #</th>
			<th>Project Name</th>
			<th style="width:10%">Worker</th>
			<th style="width:40%">Description</th>
			<th style="width:10%">Status</th>
			<th>Team</th>
		</tr>
	</thead>
<div class="container p-3 mx-auto">
	{% for project in project_list %}
  {% include "projects/_projectlist.html" %}
	{% endfor %}
</table>
</div>

{% endblock %}
