{% extends "projects/project_base.html" %}
{% load bootstrap4 %}
{% block proj_content %}

	<div class="container">
		<br>
		<h3 class="modal-title" id="staticBackdropLabel">Update Project: <strong>{{project.project_name}}</strong></h3>
			<div class="container">
	    <form method="post">
	        {% csrf_token %}
	        {% bootstrap_form form %}
	        <input type="submit" class='btn btn-primary btn-large' value="Update">
	        <a class="btn btn-simple btn-large btn-default mx-auto" href="javascript:history.go(-1)">Cancel</a>
	    </form>
			</div>
	</div>

{% endblock %}
