{% extends "projects/project_base.html" %}
{% load bootstrap4 %}
{% block proj_content %}
{{ form.media }}
<div class="container-fluid">
	<br>
  <div class="row justify-content-center align-self-center">
		<div class="form-group w-50 ">
	    <form id='projform' action="{% url 'projects:create' %}" method="post">
	      {% csrf_token %}
	      {% bootstrap_form form %}
	      <a class="btn btn-default btn-large" href="javascript:history.go(-1)" role="button">Cancel</a>
	      <input type="submit" class='btn btn-primary btn-large' value="Submit">
	    </form>
	  </div>
	</div>
</div>
{% endblock %}
