{% extends "projects/project_base.html" %}

{% block proj_content %}
<br>
<div class="container">
  <h1>All Projects</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="container list-group">
    <div class="d-flex justify-content-between align-items-center row">
      <div class="col-sm-5 text-muted">Project</div>
      <div class="col-sm-2 text-muted">Status</div>
      <div class="col-sm-1 text-muted">Assignee</div>
      <div class="col-sm-2 text-muted">Team</div>
    {% for project in projects %}
      <a href="{% url 'projects:single' pk=project.pk %}" class="list-group-item list-group-item-action">
        <div class="d-flex justify-content-between align-items-center row">
          <div class="col-sm-5"><strong>{{project.project_name}}</strong></div>

          {% if project.status == 'Active' %}
            <div class="col-sm-2"><span class="badge badge-primary">{{project.status}}</span></div>
          {% elif project.status == 'Hold' %}
            <div class="col-sm-2"><span class="badge badge-warning">{{project.status}}</span></div>
          {% elif project.status == 'Past Due' %}
            <div class="col-sm-2"><span class="badge badge-danger">{{project.status}}</span></div>
          {% else %}
            <div class="col-sm-2"><span class="badge badge-success">{{project.status}}</span></div>
          {% endif %}

          <div class="col-sm-1">{{project.worker}}</div>
          <div class="col-sm-2">{{project.team}}</div>
        </div>
      </a>
    {% endfor %}

  </div>
</div>

{% endblock %}
