{% extends "projects/project_base.html" %}
{% block proj_content %}

<div class="modal fade" id="projectDeleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Project: <strong>{{project.project_name}}</strong> ?</h5>
          <a href="javascript:history.go(-1)"><button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></a>
      </div>
      <div class="modal-body">
        <div>
          <form method="post">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <input type="submit" class="btn btn-danger btn-large mx-auto" value="Confirm Delete">
                  <a class="btn btn-simple btn-large btn-default mx-auto" href="javascript:history.go(-1)">Cancel</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(window).on('load',function(){
    $('#projectDeleteModal').modal({show:true});
});

</script>
{% endblock %}
