{% extends "projects/project_base.html" %}
{% block proj_content %}

<style>
  .profile-pic{
    max-width: 200px;
    max-height:200px;
    margin: 0 auto;
    border-radius: 50%;
  }
</style>

<br>
<div class="d-flex justify-content-center">
  <div class="col-md-3">
    <div class="card card-body">
      <hr>
      <h3 style="text-align: center">{{worker.user.username}}</h3>
      <hr>
      <img class="profile-pic" src="{{worker.user.userprofile.profile_pic.url}}">
    </div>
  </div>


  <div class="card text-center" style="width:40rem;">
    <div class="card-body">
      <p class="card-text"><strong>First Name:</strong> {{worker.user.userprofile.first_name}}</p>
      <p class="card-text"><strong>Last Name:</strong> {{worker.user.userprofile.last_name}}</p>
      <p class="card-text"><strong>Email:</strong> {{worker.user.userprofile.email}}</p>
      <p class="card-text"><strong>Phone:</strong> {{worker.user.userprofile.phone}}</p>
      <p class="card-text"><strong>Address:</strong> {{worker.user.userprofile.address}}</p>
      <p class="card-text"><strong>City:</strong> {{worker.user.userprofile.city}}</p>
      <p class="card-text"><strong>State:</strong> {{worker.user.userprofile.state}}</p>
      <p class="card-text"><strong>Zip:</strong> {{worker.user.userprofile.zip}}</p>
      <p><strong>Teams:</strong> {% for team in teamlist %}
            <a href="{% url 'teams:single' slug=team.slug %}">{{team}}</a>,
          {% endfor %}</p>

    </div>
  </div>

{% endblock %}
